body {
	background-color: transparent;
}

.summary {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 3rem;
    /* overflow: hidden; */
}

.summary--col {
    width: 33vw;
    min-width: 20rem;
    /* color: white; */
}

.summary--col h2 {
    text-align: center;
    margin-bottom: .5rem;
}

.summary--col.summary--col-documentation--img {
    width: 12rem;
}

.summary--col.summary--col-documentation div {
    width: 12rem;
    margin: 0 auto;
    text-align: center;
    font-size: large;
}

.summary--col a {
    color: whitesmoke;
	cursor: pointer;
}

.summary--col a:hover {
    color: #e5e4e4;
}

.summary--col--resultsitem.summary--col--resultsitem-hide {
    display: none;
}

.summary--col--resultsitem img {
    width: 1.2rem;
    margin-bottom: -4px;
    margin-right: 3px;
}

.summary--col--resultsitem {
    font-size: 1.1rem;
	margin-left: 5px;
}